@import './utils/vars';
@import './utils/hidden';
@import './utils/mixin';

@import './base/reset';
@import './base/common';

@import './components/container';
@import './components/logo';
@import './components/main-button';
@import './components/section-title';
@import './components/social';
@import './components/modal';
@import './components/mobile-menu';

@import './layouts/header';
@import './layouts/hero';
@import './layouts/benefits';
@import './layouts/work';
@import './layouts/team';
@import './layouts/client';
@import './layouts/footer';
@import './layouts/portfolio-buttons';
@import './layouts/portfolio-cards';
