.logo {
  color: var(--brand-color);

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo--color-black {
  color: var(--black);
}

.logo--color-white {
  color: var(--white-base);
}
