.main-button {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  border: none;

  background-color: var(--brand-color);
  color: var(--white-base);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  transition: background-color var(--time-distribution), box-shadow var(--time-distribution);

  &:hover,
  &:focus {
    background-color: var(--button-active);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
