.draw {
  padding-bottom: 0;

  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
}

.draw__list {
  gap: 30px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.draw__item {
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 4);
  }
}

@media screen and (max-width: 767px) {
  .draw__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.draw__subtitle {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.draw__text {
  color: var(--txt-secondary);

  font-size: 14px;
  line-height: 1.71;
}

.draw__box-images {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;

  background-color: var(--bgrd-secondary);
}
