.symbol__list {
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
}

.symbol__item {
  height: 92px;
  flex-basis: calc((100% - 30px) / 2);

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 3);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 150px) / 6);
  }
}

.symbol__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--icon-color);
  border-radius: 4px;

  transition: border-color var(--time-distribution);

  &:hover,
  &:focus {
    border-color: var(--brand-color);
  }
}

.symbol__icon {
  fill: var(--icon-color);
  transition: fill var(--time-distribution);

  .symbol__link:hover &,
  .symbol__link:focus & {
    fill: var(--brand-color);
  }
}
