.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--bgrd-primary);
}

.footer-container {
  display: flex;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    align-items: baseline;
    justify-content: space-between;
  }
}

/* Підвал контакти */
.footer-contacts {
  @media screen and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 768px) {
    margin-right: 165px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 0;
  }
}

.footer-address {
  margin-top: 20px;
}

.footer-address .item {
  @media screen and (max-width: 1199px) {
    display: flex;
    justify-content: center;
  }
}

.address-list .item + .item {
  margin-top: 10px;
}

.footer-link {
  color: var(--white-transparency);

  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;

  transition: color var(--time-distribution);

  &:hover,
  &:focus {
    color: var(--brand-color);
  }
}

.maps-link {
  color: var(--white-base);
}

/* Підвал соціальні іконки */

.footer-social-iconbox {
  @media screen and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
  }
}

.footer-subtitle {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--white-base);
}

.footer-soc-link {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--time-distribution);

  &:hover,
  &:focus {
    background-color: var(--brand-color);
  }
}

.footer-soc-icon {
  fill: var(--white-base);
}

/* Підвал форма */
.footer-subscribe {
  @media screen and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.footer-input-wrap {
  display: flex;

  @media screen and (max-width: 1199px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.footer-input {
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 20px;

  @media screen and (max-width: 479px) {
    width: 290px;
    height: 50px;
  }

  @media screen and (min-width: 480px) {
    width: 450px;
    height: 50px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
    height: 50px;
    margin-right: 12px;
    margin-bottom: 0;
  }

  color: var(--white-base);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: transparent;

  transition: background-color var(--time-distribution);

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: var(--white-transparency);
  }

  &:focus {
    border-color: var(--brand-color);
  }
}

.footer-subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  min-width: 200px;
  padding: 10px 28px;
}

.footer-icon-button {
  width: 24px;
  height: 24px;
  fill: var(--white-base);
}
