.hero {
  position: relative;
  // padding-top: 200px;
  // padding-bottom: 200px;
  height: 400px;

  @media screen and (max-width: 767px) {
    // width: auto;
    max-width: 480px;
    background-image: var(--gradient-hero), url(../images/mob/img-hero-mob-1x.jpg);

    @include retina {
      background-image: var(--gradient-hero), url(../images/mob/img-hero-mob-2x.jpg);
    }
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
    background-image: var(--gradient-hero), url(../images/tab/img-hero-tab-1x.jpg);

    @include retina {
      background-image: var(--gradient-hero), url(../images/tab/img-hero-tab-2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    height: 600px;
    background-image: var(--gradient-hero), url(../images/desk/img-hero-desk-1x.jpg);

    @include retina {
      background-image: var(--gradient-hero), url(../images/desk/img-hero-desk-2x.jpg);
    }
  }

  margin-left: auto;
  margin-right: auto;

  background-color: var(--bgrd-hero);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-grow: 1;

  text-align: center;
}

.hero-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-title {
  margin-bottom: 30px;

  color: var(--white-base);

  font-weight: 900;
  font-size: 20px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: 480px) {
    font-size: 26px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero-button {
  min-width: 200px;
  padding: 10px 24px;

  @media screen and (min-width: 1200px) {
    min-width: 216px;
    padding: 10px 32px;
  }
}
